@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Righteous&family=Rouge+Script&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body{
	width: 100%;
	height: 100%;
	background: #0d111c;
	margin: 0px;
	scrollbar-width: none;
}

a{
	text-decoration: none;
	color: inherit;
}

/*CONTEUDO --------------------------------*/

.conteudo{
	border: 7px solid rgb(224 238 255);
    	height: 99%;
    	overflow: auto;
    	scrollbar-width: none;
}


/*CABECALHO --------------------------------*/

.cabecalho-borda{
	margin: 0px;
	padding: 0px;
        border: 0px solid #dfe4ed;
	visibility: hidden;
}

.cabecalho{
    	width: 100%;
    	height: 50px;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    	background: rgb(162 193 231);
    	border-radius:0px 0px 20px 20px;
	color: #0b3593;
}

.cabecalho-logo{
    	font-family: 'Rouge Script';
    	font-weight: 400;
    	font-style: normal;
    	font-size: 42px;
}

.cabecalho-texto{
	display: flex;
	align-items: center;
	gap: 40px;
  	font-family: "Righteous", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 18px;
	text-decoration: none;
}

.cabecalho-texto-escrito:hover {
	background: rgb(106 156 216);
	height: 40px;
	width: 100px;
	text-align: center;
	align-items: center;
	padding-top: 20px;
	border-radius: 0px 0px 20px 20px;
	color: rgb(237 249 255);
	cursor: pointer;
}


.cor-tema{
	display: flex;
	justify-content: start;
	align-items: center;
	background: rgb(224 238 255);
	width: 80px;
	height: 38px;
	border-radius: 60px;
}

.cor-tema:hover {
	transform: scale(1.07);
}

button {
	border-radius: 50%;
	margin: 5%;
	border: none;
	width: 25px;
	padding: 5px;
	background: rgb(224 238 255);
}

#buttonRight{
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	margin-left: 10px;
	background-color: #0f58a4;
	color: rgb(255, 255, 255);
	font-size: 19px;
	padding-bottom: 2% ;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	
}

#buttonLeft{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	background: rgb(224 238 255);
	color: rgb(0, 0, 0);
	visibility: visible;
	font-size: 19px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

@keyframes opacity{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes leftdiv{
	0%{
		background-color: rgb(224 238 255);
	}
	100%{
		background-color: #0f58a4;
	}
}

@keyframes rightdiv{
	0%{
		background-color: #0f58a4;
	}
	100%{
		background-color: rgb(224 238 255);
	}
}



		/*CELULAR ------------------------------------------------- */

		@media screen and (max-width: 300px){
				.cabecalho-logo{
					font-size: 28px;
				}
				.cabecalho-texto{
					font-size: 13px;
					gap: 10px;
				}
				.cabecalho-texto-escrito:hover {
					width: 60px;
				}
		}

		@media screen and (min-width: 300px) and (max-width: 450px){
				.cabecalho-logo{
					font-size: 30px;
				}
				.cabecalho-texto{
					font-size: 14px;
					gap: 20px;
				}
			
		}

		@media screen and (min-width: 450px){
			@media screen and (max-width: 700px){
						.cabecalho-logo{
						    font-size: 35px;
						}
						.cabecalho-texto{
							font-size: 16px;
							gap: 25px;
						}
			}
		}

/*WEB DESENVOLVIMENTO -----------------------------------------------------------------*/

.web-desenvolvimento{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	height: 200px;
	margin-top: 200px;
}

.web-desenvolvimento-titulo{
	display: flex;
	justify-content: center;
	font-family: "VT323", monospace;
	color: white;
	font-size: 65px;
	animation: titulo 0s infinite linear alternate;
	height: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
	text-align: center;
	padding: 5%;
}

@keyframes titulo-escuro{
	0%{
		color: #ffffff;
		margin-top: 7%;
		margin-bottom: 0%;
	}
	100%{
		color: #6fbcff;
		margin-top: 0%;
		margin-bottom: 7%;
	}
}

@keyframes titulo-claro{
	0%{
		color: #00276e;
		margin-top: 7%;
		margin-bottom: 0%;
	}
	100%{
		color: #3b93de;
		margin-top: 0%;
		margin-bottom: 7%;
	}
}

@keyframes titulo {
	0%{
		margin-top: 10%;
		margin-bottom: 0%;
	}
	100%{
		margin-bottom: 20%;
		margin-top: 0%;
	}
}


			/*CELULAR ------------------------------------------------- */
			@media screen and (max-width: 260px){
				.web-desenvolvimento{
					height: 180px;
					margin-top: 100px;
				}
				
				.web-desenvolvimento-titulo{
					font-size: 32px;
				    letter-spacing: 1px;
				}
				@keyframes titulo {
					0%, 40%, 80%{
						margin-top: 20%;
						margin-bottom: 0%;
					}
					20%, 60%, 100%{
						margin-bottom: 20%;
						margin-top: 0%;
					}
				}
				
			}

			@media screen and (min-width: 260px) and (max-width: 310px){
				.web-desenvolvimento{
					height: 200px;
					margin-top: 100px;
				}
				
				.web-desenvolvimento-titulo{
					font-size: 38px;
				    letter-spacing: 1px;
				}
				@keyframes titulo {
					0%, 40%, 80%{
						margin-top: 20%;
						margin-bottom: 0%;
					}
					20%, 60%, 100%{
						margin-bottom: 20%;
						margin-top: 0%;
					}
				}
				
			}
	
			@media screen and (min-width: 310px) and (max-width: 400px){
				.web-desenvolvimento{
					height: 220px;
					margin-top: 100px;
				}
				
				.web-desenvolvimento-titulo{
					font-size: 40px;
				    letter-spacing: 3px;
				}
				@keyframes titulo {
					0%, 40%, 80%{
						margin-top: 20%;
						margin-bottom: 0%;
					}
					20%, 60%, 100%{
						margin-bottom: 20%;
						margin-top: 0%;
					}
				}
				
			}
	
			@media screen and (min-width: 400px){
				@media screen and (max-width: 600px){
					.web-desenvolvimento{
						height: 250px;
						margin-top: 100px;
					}
				
					.web-desenvolvimento-titulo{
						font-size: 50px;
					    letter-spacing: 3px;
					}
					@keyframes titulo {
						0%, 40%, 80%{
							margin-top: 20%;
							margin-bottom: 0%;
						}
						20%, 60%, 100%{
							margin-bottom: 20%;
							margin-top: 0%;
						}
					}
				}
			}
	
			@media screen and (min-width: 600px){
				@media screen and (max-width: 750px){
					.web-desenvolvimento{
						height: 300px;
						margin-top: 100px;
					}
				
					.web-desenvolvimento-titulo{
						font-size: 55px;
					}
					@keyframes titulo {
						0%, 40%, 80%{
							margin-top: 20%;
							margin-bottom: 0%;
						}
						20%, 60%, 100%{
							margin-bottom: 20%;
							margin-top: 0%;
						}
					}
				}
			}
	
			@media screen and (min-width: 750px){
				@media screen and (max-width: 900px){
					.web-desenvolvimento{
						height: 300px;
						margin-top: 100px;
					}
				
					.web-desenvolvimento-titulo{
						font-size: 60px;
					}
				}
			}

/*DESCRITIVO -----------------------------------------------------------*/

.descritivo{
	width: 80%;
	margin: 5% 10% 5% 10%;
	display: flex;
	justify-content: center;

}

.imagem-pessoal{
	height: 100px;
    	border-radius: 50%;
    	border: 2px solid rgb(218 231 255);
}

.descritivo-imagem{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	animation: updown 0.6s linear alternate;
}

@keyframes updown{
	0%{
		margin-left: 5%;
		opacity: 50%;
	}
	100%{
		margin-left: 0%;
		opacity: 100%;
	}
}

#textocor{
	color: white;
}

.descritivo-texto-introducao{
	justify-content: center;
	width: 60%;
	margin-left: 5%;
	animation: opacity 0.6s linear alternate;
}

.descritivo-texto-introducao-escrito{
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	text-align: justify;
	color: white;
}

			/*CELULAR ------------------------------------------------- */
	
			@media screen and (max-width: 400px){
				.descritivo{
					width: 100%;
					margin-left: 0%;
					flex-direction: column;
				}
				.imagem-pessoal{
					height: 60px;
				}
				.descritivo-imagem{
					justify-content: start;
					margin-left: 10%;
					margin-bottom: 10px;
				}
				.descritivo-texto{
					width: 80%;
					margin-left: 10%;
				}
				.descritivo-texto-escrito{
					font-size: 11px;
				}
					@keyframes updown{
						0%{
							margin-top: 10%;
							opacity: 50%;
						}
						100%{
							margin-top: 0%;
							opacity: 100%;
						}
					}
			}
	
			@media screen and (min-width: 400px){
				@media screen and (max-width: 600px){
					.descritivo{
						width: 100%;
						margin-left: 0%;
						flex-direction: column;
					}
					.imagem-pessoal{
						height: 65px;
					}
					.descritivo-imagem{
						justify-content: start;
						margin-left: 10%;
						margin-bottom: 10px;
					}
					.descritivo-texto{
						width: 80%;
						margin-left: 10%;
					}
					.descritivo-texto-escrito{
						font-size: 13px;
					}
					@keyframes updown{
						0%{
							margin-top: 10%;
							opacity: 50%;
						}
						100%{
							margin-top: 0%;
							opacity: 100%;
						}
					}
				}
			}

			@media screen and (min-width: 600px){
				@media screen and (max-width: 800px){
					.descritivo{
						width: 80%;
						margin-left: 5%;
					}
					.imagem-pessoal{
						height: 70px;
					}
					.descritivo-imagem{
						justify-content: start;
						margin-left: 10%;
						margin-bottom: 10px;
					}
					.descritivo-texto{
						width: 80%;
						margin-left: 5%;
						font-size: 17px;
						animation: updown 0.6s linear alternate;
					}
					.descritivo-texto-escrito{
						font-size: 14px;
					}
					@keyframes updown{
						0%{
							margin-top: 10%;
							opacity: 50%;
						}
						100%{
							margin-top: 0%;
							opacity: 100%;
						}
					}
				}
			}

			@media screen and (min-width: 800px){
				@media screen and (max-width: 1000px){
					.descritivo{
						width: 80%;
						margin-left: 5%;
					}
					.imagem-pessoal{
						height: 80px;
					    border: 2px solid rgb(218 231 255);
					}
					.descritivo-imagem{
						justify-content: start;
						margin-left: 10%;
					}
					.descritivo-texto{
						width: 80%;
						margin-left: 8%;
						animation: updown 0.6s linear alternate;
					}
					.descritivo-texto-escrito{
						font-size: 15px;
					}
					@keyframes updown{
						0%{
							margin-top: 10%;
							opacity: 50%;
						}
						100%{
							margin-top: 0%;
							opacity: 100%;
						}
					}
				}
			}


/*info pessoais----------------------------------*/

.descritivo-info-pessoais{
	display: flex;
	justify-content: center;
	gap: 30px;
}

.descritivo-info-pessoais-container{
	display: flex;
	justify-content: center;
	gap: 5px;
}

.descritivo-info-pessoais-escrito{
	font-family: "Comic Neue", cursive;
	font-size: 17px;
	color: white;
}

.descritivo-info-pessoais-destaque{
	font-family: "Comic Neue", cursive;
	font-size: 17px;
	color: rgb(147 200 255);
}






/*///////////////////////////////////////////////////////////////CONTATO*/


.conteudo-contato-logo{
	display: flex;
	justify-content: center;
	margin: 0% 10% 10% 10%;
	margin-top: 100px;
}

.conteudo-logo{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.conteudo-logo-hr{
    width: 200px;
    text-decoration: none;
    border: 1px solid #c3e3ff;
    border-radius: 50px;
    margin-top: 20px;
}

.imagem-contato{
	display: flex;
	justify-content: center;
	width: 50px;
}

input, textarea{
	background: rgb(191 207 231);
    	height: 35px;
    	border: 4px solid rgb(255 255 255);
    	border-radius: 3px;
    	width: 100%;
    	font-size: 16px;
    	color: #001049;
    	font-family: "Quicksand", sans-serif;
	padding: 0.5%;
}

textarea{
	height: 100px;
}

.formulario{
	width: 90%;
	margin-top: 50px;
	margin-left: 4%;
}

.conteudo-contato-texto{
	color: white;
    	margin: 1%;
    	font-size: 18px;
    	font-family: monospace;
}

.conteudo-logo-texto{
	display: flex;
	justify-content: center;
    font-family: 'Righteous';
    color: aliceblue;
    font-size: 20px;
}

.buttonEnviar {
    background: rgb(162 199 241);
    box-shadow: 2px 4px 3px rgb(255 255 255 / 6%);
    color: rgb(0 31 61);
    border-style: none;
    border-radius: 10px;
    font-family: "Righteous", sans-serif; 
    font-size: 17px;
    width: 80px;
    padding: 4px;
	margin: 2%;
}

.buttonEnviar:hover {
    	background: rgb(159 199 245);
	transform: scale(1.1);

}



		@media screen and (max-width: 300px){
			input, textarea, .conteudo-contato-texto{
				font-size: 13px;
			}
			.conteudo-contato-texto{
			    font-size: 14px;
				margin: 2%;
			}
		}
		
		@media screen and (min-width: 300px) and (max-width: 500px){
			input, textarea{
				font-size: 15px;
			}
			.conteudo-contato-texto{
			    font-size: 16px;
				margin: 2%;
			}
		}

		@media screen and (min-width: 1000px){
			.formulario{
				width: 70%;
				margin-left: 15%;
			}

		}

		@media screen and (max-width: 1000px){
			input, textarea{
				padding: 1%;
			}
		}